.home-section {
  background-image: url("./staff_uni.png"); /* Path to your university logo image */
  background-size: cover;
  background-position: center;
}

.home-main-head {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
}
